body {
    font-family: Arial, sans-serif;
    background-color: #4B0082;
    text-align: center;
    color: white;
}
.container {
    width: 500px;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    background: black;
    border-radius: 10px;
}
input, button {
    width: 80%;
    margin: 5px 0;
    padding: 10px;
}
button {
    background: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
}
