body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    background:#4B0082;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}body {
    font-family: Arial, sans-serif;
    background-color:#4B0082;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

  
.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #f5d507;
}
.topics a, .scoreboard-link {
    display: block;
    margin: 10px;
    padding: 10px;
    background: #4B0082;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.topics a:hover {
    background: #882178;
}
button {
    background:yellow;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #edcb0d;
}
#result {
    margin-top: 20px;
    font-weight: bold;
}

h1, h2 {
    color: #2a9df4;
}
.topics a, .scoreboard-link {
    display: block;
    margin: 10px;
    padding: 10px;
    background: #4B0082;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.topics a:hover {
    background: #b00970;
}
button {
    background: #b00970;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #b00970;
}
#result {
    margin-top: 20px;
    font-weight: bold;
}
